.ui.segment{
    height: 100vh !important;
}

.collegeDetails{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
}

.loading{
    margin: 2rem
}
.ui.celled.table{
    width:fit-content;
    text-align: center;
    border: 2px solid;
}

thead{
    font-family: 'Playfair Display', serif;
    font-size: 1.5rem;
    letter-spacing: 0.05em;
    line-height: normal;
    /* position: sticky !important; */
}
.ui.table thead tr:first-child > th {
    position: sticky !important;
    top: 0;
    z-index: 2;
}

thead>tr>th{
    background-color: rgb(97, 97, 97) !important;
    color: rgb(255, 255, 255) !important;
    border: 0.1em solid black !important;
    
}
tbody>tr>td{
    border: 0.1em solid black !important;
    font-size: 1.3rem;
    font-family:'Courier New', Courier, monospace ;
    line-height: normal;
}

tbody>tr:nth-child(even)>td{
    background-color: rgb(218, 218, 218) !important;
}

.message{
    color: red;
    font-family: 'Gemunu Libre', sans-serif;
    font-size: 3rem;
    margin-top: 4rem;
    padding: 1em;
    font-weight: 700;
    text-align: center;
    line-height: normal;
    border: 0.1em solid black;
    background-color: rgb(218, 218, 218);
}