.ui.segment{
    height: 100vh !important;
}

.collegeDetails{
    overflow-x: scroll;
    margin: 2rem;
    margin-top: 0.5rem;
}
.listColleges{
    display: flex;
    justify-content: center;
}
.loading{
    margin: 2rem
}
.ui.celled.table{
    width:fit-content;
    text-align: center;
    border: 2px solid;
}

thead{
    font-family: 'Gemunu Libre', sans-serif;
    font-size: 1.5rem;
    letter-spacing: 0.05em;
    line-height: normal;
    position: sticky !important;
}
.ui.table thead tr:first-child > th {
    position: sticky !important;
    top: 0;
    z-index: 2;
}
thead>tr>th{
    background-color: rgb(108, 108, 199) !important;
    color: rgb(255, 255, 255) !important;
    border: 0.1em solid black !important;
    padding: 0.3rem 0.5rem !important;
    font-weight: 400 !important;
    font-size: 1.2rem;
}
tbody>tr>td{
    border: 0.1em solid black !important;
    font-size: 1.3rem;
    padding: 0.5rem !important;
    font-family: 'Gemunu Libre', sans-serif;
    line-height: normal;
}
.predColumn{
    background-color: rgb(108, 108, 199) !important;
    color: rgb(255, 255, 255) !important;
    border: 0.1em solid black !important;
    padding: 0.3rem 0.5rem !important;
    font-weight: 400;
    font-size: 1.2rem;
}
#website{
    color: brown;
}
tbody>tr:nth-of-type(even){
    background-color: rgba(184, 184, 255, 0.5);
}
tbody>tr:nth-of-type(odd){
    background-color: #f3fffe;
}

.message{
    color: red;
    font-family: 'Gemunu Libre', sans-serif;
    font-size: 3rem;
    margin-top: 4rem;
    padding: 1em;
    font-weight: 700;
    text-align: center;
    line-height: normal;
    border: 0.1em solid black;
    background-color: rgb(218, 218, 218);
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}
#myTable{
    margin: auto;
}
th, td {
    text-align: left;
    padding: 8px;
}

.buttons{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 0.5rem;
}
.buttonRanks{
    display: flex;
    justify-content: center;
    align-items: center;
}
#rankButton{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    min-height: fit-content !important;
    margin: 0.2em;
}
#rankButton>i{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    
}
.ui.tag.label::after{
    position: relative !important;
}
#rankLabel{
    background-color: rgba(255, 184, 85) !important;
    margin: 0px !important;
    width: fit-content;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    margin-bottom: 0.2em;
}

.btn{
    font-size: 1rem !important;
    margin: 0.5rem !important;
    padding: 1rem !important;
    margin-bottom: 0.2rem !important;
    width: fit-content;
    height: fit-content;
    
}

.ui.primary.button.active{
    background-color: #1c6297 !important;
    border: 0.2rem solid black;
}

.ui.primary.button:not(.active){
    background-color: #5aaceb !important;
    border: 0.2rem solid black;
}

.ui.primary.button:hover{
    background-color: #1c6297 !important;
}
.ui.primary.button.disabled.round{
    display: none;
}
.pageHeading{
    text-align: center;
    font-family: 'Gemunu Libre', sans-serif;
    font-size: 2.5rem;
    font-weight: 500;
    text-decoration: solid underline;
    margin: 0.5rem;
}
.pageHeading2{
    text-align: center;
    font-family: 'Gemunu Libre', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    text-decoration: solid underline;
    margin: 0.5rem;
}
.searchField{
    display: flex;
    flex-direction: column;
}
#prediction{
    flex-direction: column;
}
#allbuttons{
    display: flex;
    justify-content: space-around;
}
#predict{
    font-size: 1.5rem !important;
    border-radius: 0.5rem !important;
}
.ui.message{
    font-size: 1.5rem !important;
}

.labelPrediction{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ui.label{
    margin-top: 1rem !important;
    font-size: 1rem !important;
}
#round{
    background-color: rgb(171, 103, 226) !important;
}
#round:hover{
    background-color: rgb(96, 30, 149) !important;
}
#round.active{
    background-color: rgb(96, 30, 149) !important;
}
#probableY{
    background-color:yellow !important;
    color: black;
    font-weight: bold;
}
#probableO{
    background-color:orange !important;
    color: black;
    font-weight: bold;
}
#low{
    background-color:red !important;
    color: white;
    font-weight: bold;
}
#high{
    background-color:#07d507 !important;
    color: black;
    font-weight: bold;
}

#labelDiv > .ui.label{
    max-width: 20vw;
}

.removeLable{
    display: none !important;
}
.changeWidth{
    max-width: 50vw;
}
input{
    font-size: 1rem
}
#collegeId{
    color: red;
}
#myCell2{
    max-width: 30em;
}
#myCell1{
    max-width: 20em;
}
#myCell3{
    width: 8em;
}
#myCell4{
    max-width: 15em
}
@media (max-width: 800px){
    .collegeDetails{
        display: block;
    }
    .listColleges{
        display: block;
    }
}
@media (max-width: 769px){
    #myCell1{
        max-width: 100%;
    }
    tbody>tr:nth-of-type(even){
        background-color: rgba(184, 184, 255, 0.5);
    }
    tbody>tr:nth-of-type(odd){
        background-color: #f3fffe;
    }
    #myTable{
        font-size: 0.5rem;
    }
    tbody>tr>td{
        padding: 0px !important;
        margin: 0px !important;
        font-size: 1rem !important;
    }
    thead>tr>th{
        padding: 0px !important;
        margin: 0px !important;
    }
}
@media (max-width: 640px){
        .buttonRanks{
        flex-direction: column !important;
    }
}