.ui.segment{
    height: 100vh !important;
}

.collegeDetails{
    overflow-x: scroll;
    margin: 2rem;
}
.listColleges{
    display: flex;
    justify-content: center;
}
.loading{
    margin: 2rem
}
.ui.celled.table{
    width:fit-content;
    text-align: center;
    border: 2px solid;
}

thead{
    font-family: 'Gemunu Libre', sans-serif;
    font-size: 1.5rem;
    letter-spacing: 0.05em;
    line-height: normal;
    position: sticky !important;
}
.ui.table thead tr:first-child > th {
    position: sticky !important;
    top: 0;
    z-index: 2;
}

thead>tr>th{
    background-color: rgb(97, 97, 97) !important;
    color: rgb(255, 255, 255) !important;
    border: 0.1em solid black !important;
    
}
tbody>tr>td{
    border: 0.1em solid black !important;
    font-size: 1.5rem;
    font-family: 'Gemunu Libre', sans-serif;
    line-height: normal;
}

tbody>tr:nth-child(even)>td{
    background-color: rgb(218, 218, 218);
}

.message{
    color: red;
    font-family: 'Gemunu Libre', sans-serif;
    font-size: 3rem;
    margin-top: 4rem;
    padding: 1em;
    font-weight: 700;
    text-align: center;
    line-height: normal;
    border: 0.1em solid black;
    background-color: rgb(218, 218, 218);
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}
  
th, td {
    text-align: left;
    padding: 8px;
}

.buttons{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 0.5rem;
    
}
.buttonRanks{
    display: flex;
    justify-content: space-evenly;
}

.btn{
    font-size: 1rem !important;
    margin: 0.5rem !important;
    padding: 1rem !important;
    margin-bottom: 0.2rem !important;
    width: fit-content;
    height: fit-content;
    
}

.ui.primary.button.active{
    background-color: #1c6297 !important;
    border: 0.2rem solid black;
}

.ui.primary.button:not(.active){
    background-color: #5aaceb !important;
    border: 0.2rem solid black;
}

.ui.primary.button:hover{
    background-color: #1c6297 !important;
}
.ui.primary.button.disabled.round{
    display: none;
}
.pageHeading{
    text-align: center;
    font-family: 'Gemunu Libre', sans-serif;
    font-size: 2.5rem;
    font-weight: 500;
    text-decoration: solid underline;
}
.searchField{
    display: flex;
    flex-direction: column;
}


#prediction{
    flex-direction: column;
}
#allbuttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#predict{
    margin-right: 4rem !important;
    font-size: 2.5rem !important;
    border-radius: 0.5rem !important;
}
.ui.message{
    font-size: 1.5rem !important;
}

.labelPrediction{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ui.label{
    margin-top: 1rem !important;
    font-size: 1rem !important;
}
#round{
    background-color: rgb(171, 103, 226) !important;
}
#round:hover{
    background-color: rgb(96, 30, 149) !important;
}
#round.active{
    background-color: rgb(96, 30, 149) !important;
}
#probableY{
    background-color:yellow !important;
    color: black;
    font-weight: bold;
}
#probableO{
    background-color:orange !important;
    color: black;
    font-weight: bold;
}
#low{
    background-color:red !important;
    color: white;
    font-weight: bold;
}
#high{
    background-color:green !important;
    color: white;
    font-weight: bold;
}

#labelDiv > .ui.label{
    max-width: 20vw;
}

.removeLable{
    display: none !important;
}
.changeWidth{
    max-width: 50vw;
}