.ui.form, .ui.form.fields{
    font-size: 1.5rem !important;
    margin: 1rem !important;
    margin-top: 1rem !important;
}
.ui.form{
    display: flex;
    align-items:stretch;
    flex-direction: column;
}
.ui.form .fields.equal.width{
    margin: 1rem !important;
    margin-bottom: 1rem !important;
}

.ui.form .field:last-child{
    align-self: center !important;
}
button{
    font-size: 1.5rem !important;
    margin: 1rem !important;
}

.message{
    color: red;
    font-family: 'Gemunu Libre', sans-serif;
    font-size: 2rem;
    width: fit-content;
    height: fit-content;
    padding: 0.5em;
    font-weight: 700;
    text-align: center;
    line-height: normal;
    border: 0.1em solid black;
    background-color: rgb(218, 218, 218);
}

.main{
    margin: auto !important;
    margin-top: 2rem !important;
    border-radius: 5% !important;
    background-color: rgb(136, 136, 136) !important;
}

#contact{
   width: fit-content;
   height: fit-content;
   border: 0.2rem solid;
   padding: 3rem;
   background-color: rgb(190, 190, 190);
   border-radius: 2rem;
   margin-bottom: 2rem !important;
}
#card{
    display: flex;
    flex-direction: column;
    border: 0.2rem solid;
    width: fit-content;
    padding: 2.5rem;
    font-size: 1.5rem;
    background-color: rgb(85, 85, 85);
    color: white;
    border-radius: 2rem;
    margin: 5rem;
    border: 0.2rem solid black;
}
p{
    margin: 0.2rem !important;

}

#intro{
    display: flex;
    flex-direction: column;
}

#contactUs{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.success{
    color: white;
}
#predictionForm{
    background-color: rgba(255, 184, 85);
    border: 0.4rem solid black;
    margin: 2rem !important;
    padding: 1rem 4rem !important;
    border-radius: 2rem !important;
}

.ui.form .field>label{
    margin-bottom: 1rem !important;
}

#cutOff{
    display: flex !important;
    justify-content: center !important;
    margin-bottom: 0px;
}

#cutOff > .label{
    font-size: 1.5rem!important;
    text-align: center !important;
    display: flex !important;
    align-items: center !important;
    margin: 1rem !important;
    margin-top: 2.7rem !important;

}
#formErrordiv{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1050px){
    #contactUs{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 700px){
    #card{
        padding: 1.5rem !important;
    }
}