.ui.form, .ui.form.fields{
    font-size: 2rem !important;
    margin: 1rem !important;
    margin-top: 3rem !important;
}
.ui.form{
    display: flex;
    align-items:stretch;
    flex-direction: column;
}
.ui.form .fields.equal.width{
    margin: 1rem !important;
    margin-bottom: 2rem !important;
}

.ui.form .field:last-child{
    align-self: center !important;
}
button{
    font-size: 1.5rem !important;
    margin: 1rem !important;
}

.message{
    color: red;
    font-family: 'Gemunu Libre', sans-serif;
    font-size: 2rem;
    width: fit-content;
    margin: auto;
    margin-top: 1rem;
    padding: 1em;
    font-weight: 700;
    text-align: center;
    line-height: normal;
    border: 0.1em solid black;
    background-color: rgb(218, 218, 218);
}