i.icon:not(.extra){
    display: none !important;
}
.ui.menu.navBar{
    font-size: 1.1rem;
    margin: 0;
    background-color: rgb(0, 0, 255, 0.5) !important;
    width: 100% !important;
    border-radius: 0px;
    padding: 0.5rem 0.2rem;
    color: white;
}
.ui.menu .item{
    color: white !important;
    border-radius: 1rem !important;
}
.ui.menu .active.item, .ui.vertical.menu .active.item{
    font-weight: 700 !important;
    border-radius: 1rem !important;
    color: black !important;
    background-color: #e6fffd !important;
}
.ui.menu :not(.active).item:hover{
    color: black !important;
    background-color: transparent;
}
.navigation{
    display: flex;
    justify-content: center;
}
.ui.dropdown.icon{
    background-color: white !important;
}

.ui.dropdown.icon>.text{
    font-size: 2rem;
    color: black;
    background-color: white !important;
}
.ui.pointing.dropdown.mobile .dropdown.icon{
    margin: 0rem 1rem !important;
}
.ui.dropdown.icon>.menu.visible .item{
    font-size: 1rem !important;
}
.hamburger, .ui.vertical.menu{
    width: 100% !important;
}
.ui.vertical.menu{
    display: block !important;
    background-color: rgb(0, 0, 255, 0.5) !important;
}
.prediction .menu{
    font-size: 1.25rem !important;
}
.ui.vertical.menu .item{
    /* background-color: blue !important; */
    color: white !important;
}
i.icon:hover:not(.extra){
    cursor: pointer;
}
h1:first-child{
    font-size: 4rem !important;
    display: inline !important;
    margin-top: 2rem !important;
}

.useLaptop{
    display: none;
    color: red;
    font-size: 1.5rem;
    padding: 1rem;
}
.heading{
    font-size: 3rem !important;
    margin: 2rem !important;
}
i.dropdown.icon{
    display: initial !important;
}
@media (max-width: 640px) {
    .heading{
        margin: 1rem !important;
    }
    .navigation{
        justify-content: space-between;
        align-items: center;
    }
    .ui.menu.navBar{
        display: none;
    }
    .ui.vertical.menu{
        font-size: 1.5rem !important;
    }
    i.icon.hamburgerIcon{
        display: block !important;
        margin: 1rem !important;
    }
    .useLaptop{
        display: block;
    }

}
@media (max-width: 1100px){
    .ui.menu.navBar:not(.vertical){
        font-size: 0.9rem;
    }
    .ui.vertical.menu{
        display: none;
    }

}
@media (max-width: 830px){
    .ui.menu.navBar:not(.vertical){
        font-size: 0.7rem;
    }
    .ui.vertical.menu{
        display: none;
    }

}

@media (max-width: 330px) {
    h1:first-child{
        font-size: 2.5rem !important;
        margin-top: 0.5rem !important;
    }
}