.ui.form .fields .field{
    height: fit-content;
}
.ui.form>.fields>.field>label{
    font-size: 1rem;
    margin-bottom: 0.5rem !important;
}
#mySelect{
    height: fit-content;
    font-size: 1rem;
}
#trend{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1rem;
}
#trendLabel{
    color: rgba(0,0,0,.87);
    font-size: .92857143em;
    font-weight: 700;
    text-transform: none;
    margin-right: -2rem;
}
#trendSelect{
    width: 30%;
}
#trendInput{
    width: 90%;
}
#trendForm{
    display: flex;
    align-items: center;
    width: 100%;
    border: 2px solid;
    padding-bottom: 0.5rem;
    background-color: rgba(184, 184, 255, 0.5);
    border-radius: 2rem;
}
#submitBtn{
    padding: 1rem;
}
#Errordiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.loading{
    margin-top: 1rem !important;
    position: relative !important;
    display: block !important;
}
#afterForm{
    margin: 1rem;
}

.ui.celled.table{
    width:fit-content;
    text-align: center;
    border: 2px solid;
}

thead{
    font-family: 'Gemunu Libre', sans-serif;
    font-size: 1.5rem;
    letter-spacing: 0.05em;
    line-height: normal;
    position: sticky !important;
}
.ui.table thead tr:first-child > th {
    position: sticky !important;
    top: 0;
    z-index: 2;
}
thead>tr>th{
    background-color: rgb(108, 108, 199) !important;
    color: rgb(255, 255, 255) !important;
    border: 0.1em solid black !important;
    padding: 0.6rem 1rem !important;
}
tbody>tr>td{
    border: 0.1em solid black !important;
    font-size: 1.3rem;
    padding: 0.2rem 0.5rem !important;
    font-family: 'Gemunu Libre', sans-serif;
    line-height: normal;
}

tbody>tr:nth-of-type(even){
    background-color: rgba(184, 184, 255, 0.5);
}
tbody>tr:nth-of-type(odd){
    background-color: #f3fffe;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}
#trendColumn{
    background-color: rgb(108, 108, 199) !important;
    color: rgb(255, 255, 255) !important;
    border: 0.1em solid black !important;
    padding: 0.6rem 1rem !important;
    font-weight: 600;
}
#myTable{
    margin: 1rem;
}
th, td {
    text-align: left;
    padding: 8px;
}
p{
    padding: 0px;
    margin: 0px !important;
}
#cut{
    width: 50% !important;
    display: flex;
    justify-content: space-between;
    margin: 0.5rem auto;
}

#probableY{
    background-color:yellow !important;
    color: black;
    font-weight: bold;
}
#probableO{
    background-color:orange !important;
    color: black;
    font-weight: bold;
}
#low{
    background-color:red !important;
    color: white;
    font-weight: bold;
}
#high{
    background-color:#07d507 !important;
    color: black;
    font-weight: bold;
}
#labelDiv{
    display: none;
    flex-direction: column;
}
#trendPrediction{
    display: flex;
    justify-content: center;
}
@media (max-width: 1000px){
    #trendLabel{
        margin-right: 0rem;
        align-items: flex-start;
        text-align: left;
    }
}
@media (max-width: 765px){
    tbody>tr:nth-of-type(even){
        background-color: rgba(184, 184, 255, 0.5);
    }
    tbody>tr:nth-of-type(odd){
        background-color: #f3fffe;
    }
    #trend{
        flex-direction: column;
    }
    #trendSelect{
        width: 80%;
        margin: 1rem;
    }
}
@media (max-width: 610px){
    #trendSelect{
        width: 100%;
    }
    #trendForm{
        flex-direction: column;
    }
}